:root{
    --main-color:rgb(75, 204, 216);
    --acent-color:#088395;
    --header-color:rgb(7, 26, 89);
    --header-text-color:rgb(235, 244, 246);
    --menu-active-color:rgb(8, 131, 149);
    --menu-hover-color:#088395;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:var(--main-color);
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

header{
    display: flex;
    justify-content: center;
}

.menu{
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--header-color);
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    border-radius: 2vw;
}

.menu a{
    padding: 2vw 3vw;
    font-size: min(4vw, large);
    text-decoration: none;
    color: var(--header-text-color);
}

.menu a.active{
    background-color: var(--menu-active-color);
    
}

.menu a:hover{
    background-color: var(--menu-hover-color);
}

.main-flex{
    display: flex;
    flex-flow: column;
}

.flow-segment{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.flow{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-left: 2.5%;
    width: 95%;
    background-color: var(--acent-color);
    border-radius: 2vw;
    
}

figure{
    display: flex;
    flex-flow: column;
    height: 30%;
    width: 30%;

}

.picture-box{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

figure img{
    margin-top: 3%;
    border: thin black solid;
    border-radius: 2vw;
}

figcaption{
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
   
}

.grid-text{
    display: flex;
    flex-flow: column;
    font-size: large;
    width: 50%;
    
}

.main-liner{
    font-size: x-large;
    color: var(--header-text-color);
    margin-top: 5%;
    text-align: center;
}

footer{
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-left: 2.5%;
    width: 95%;
    background-color: var(--acent-color);
    border-radius: 2vw;
}

.footer-box{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#instagram-logo, #facebook-logo{
    max-width: 70px;
}



