figure{
    border: thin black solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 20%;
    
}

.flow{
    width: 70%;
    margin-top: 5%;
    margin-left: 20%;
}

.menu{
    width: 60%;
    font-size: large;
    list-style: none;
    text-decoration: none;
    display: block;
    background-color: aqua;
    margin: auto;
    padding: 5% 3%;
}
.menu a{
    float: left;
    margin: 2%;
}